* {
    background: #cccccc;
}

h1 {
    text-align: center;
    font-size: 36px;
    background: #848484;
    color: white;
}

p {
    text-align: center;
}

/* Para referenciar um ID é necessário utilizar # */
#missao {
    font-size: 20px;
}


strong {
    color: teal;
}

em{
    color: red;
}